/.apt_generated/
/Users/

# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/runs/
/run/

/src/generated/resources/.cache
/libs
/*.txt
/.vscode/settings.json
/*.dat
/*.json
/*.log
/*.gz
/*.gz
/*.toml
